@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.page-users__button::before,
.modal__content--alert::after,
.modal__content--checked::after,
.sign-form__database::after,
.sign-form__email::before,
.sign-form__password::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-alert:before {
  content: "\e902";
}

._icon-arrow-btn:before {
  content: "\e903";
}

._icon-burger:before {
  content: "\e904";
}

._icon-check:before {
  content: "\e905";
}

._icon-close:before {
  content: "\e906";
}

._icon-close-arrow-back:before {
  content: "\e907";
}

._icon-database:before {
  content: "\e908";
}

._icon-home:before {
  content: "\e909";
}

._icon-password:before {
  content: "\e900";
}

._icon-user:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #00344D;
  line-height: 1;
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Quicksand", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

body {
  background-color: #FAFAFA;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__container {
  width: 2560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -o-linear-gradient(203.94deg, #3AB6DA 0%, #3AB6DA 0.01%, #0F9CD5 96.92%);
  background: linear-gradient(246.06deg, #3AB6DA 0%, #3AB6DA 0.01%, #0F9CD5 96.92%);
}

.page-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.page-logo__title {
  width: 137px;
  font-size: 1.25rem;
  line-height: 1.1;
}

.page-welcome {
  position: relative;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.page-welcome::before {
  content: "";
  position: absolute;
  background: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 100%;
  background-color: transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  bottom: 0;
  right: -40px;
  width: 100%;
  height: 100%;
}

.page-welcome__wrapper {
  width: 320px;
  margin: 0 auto;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.page-welcome__title,
.page-welcome__desc {
  line-height: 1.0714285714;
}

.page-welcome__title {
  padding-top: 205px;
  margin: 0px 0px 16px 0px;
  text-transform: uppercase;
}

.page-welcome__desc {
  width: 320px;
  font-weight: 400;
}

.page-sign {
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.page-sign-body {
  width: 100%;
}

.page-sign__wrapper {
  margin: 0 auto;
  width: 420px;
  height: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  z-index: 100;
}

.page-sign-header {
  margin: 0 auto;
}

.page-sign__title,
.page-sign__subtitle {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.page-sign__title {
  font-size: 1.8125rem;
  line-height: 1.0344827586;
}

.page-sign__subtitle {
  font-size: 1.1875rem;
  line-height: 1.5789473684;
  margin: 0px 0px 27px 0px;
}

.page-sign__logged {
  width: 100%;
  text-align: center;
  font-size: 1.1875rem;
  line-height: 1.2105263158;
  margin: 0px 0px 35px 0px;
}

.page-sign__copy {
  line-height: 1.7142857143;
  font-weight: 500;
  padding: 10px 0;
  margin: 0 auto;
}

.sign-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 365px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.sign-form input {
  width: 100%;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  padding: 13px 55px 13px 55px;
  margin-bottom: 10px;
}

.sign-form input[type=email] {
  padding: 13px 25px 13px 55px;
}

.sign-form__email,
.sign-form__password {
  position: relative;
  width: 100%;
}

.sign-form__email::before,
.sign-form__password::before {
  display: block;
  font-size: 1.375rem;
  position: absolute;
  top: 10px;
  left: 24px;
  z-index: 10;
  color: #0E4375;
}

.sign-form__email::before {
  content: "\e901";
}

.sign-form__password {
  margin: 0px 0px 21px 0px;
}

.sign-form__password::before {
  content: "\e900";
}

.sign-form__button,
.sign-form__subbutton {
  cursor: pointer;
}

.sign-form__button {
  width: 100%;
  font-weight: 700;
  color: #fff;
  height: 43px;
  background: -o-linear-gradient(203.94deg, #3AB6DA 0%, #0F9CD5 96.92%);
  background: linear-gradient(246.06deg, #3AB6DA 0%, #0F9CD5 96.92%);
  border-radius: 25px;
  margin: 0px 0px 8px 0px;
}

.sign-form__subbutton {
  border: transparent;
  text-decoration: underline;
}

.sign-form__database {
  display: none;
  position: relative;
  width: 100%;
}

.sign-form__database::after {
  content: "\e908";
  font-size: 1.375rem;
  position: absolute;
  top: 11px;
  right: 30px;
  z-index: 10;
  color: #fff;
  width: 20px;
  height: 20px;
}

.signUp {
  display: block;
}

.users {
  padding: 15px;
  background-color: #FAFAFA;
}

.users__title {
  font-size: 2rem;
  font-weight: 700;
}

.users__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

@supports (font-size: clamp( 0.875rem , 0.7857142857rem  +  0.4464285714vw , 1.5rem )) {
  .users__emails {
    font-size: clamp( 0.875rem , 0.7857142857rem  +  0.4464285714vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7857142857rem  +  0.4464285714vw , 1.5rem )) {
  .users__emails {
    font-size: calc(0.875rem + 0.625 * (100vw - 20rem) / 140);
  }
}

.users__emails ul {
  padding: 10px;
}

.users__emails ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: 500;
  margin-bottom: 18px;
}

.users__emails ul li::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: -25px;
  width: 20px;
  height: 20px;
  background: url("../img/firebase.svg") center/cover no-repeat;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

a:focus-visible,
.button:focus-visible {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  outline: 3px solid #036fc6;
  outline-offset: 2px;
}

#logout,
#login,
.loggedTitle,
.goSignUp {
  display: none;
}

.modal {
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__content {
  position: fixed;
  margin: 0 auto;
  top: -70px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 70px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3), 0 6px 10px 4px rgba(60, 64, 67, 0.15);
          box-shadow: 0 2px 3px 0 rgba(60, 64, 67, 0.3), 0 6px 10px 4px rgba(60, 64, 67, 0.15);
  z-index: 1000;
}

.modal__content--checked::after {
  display: block;
  content: "\e905";
  font-size: 2.25rem;
  position: absolute;
  top: 16px;
  right: 15px;
  z-index: 999999;
  color: #07cc28;
}

.modal__content--alert::after {
  display: block;
  content: "\e902";
  font-size: 2.25rem;
  position: absolute;
  top: 16px;
  right: 15px;
  color: #f1e313;
  z-index: 1;
}

.modal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px;
  font-size: 1.125rem;
}

@-webkit-keyframes loadAlert {
  0% {
    top: -70px;
  }

  100% {
    top: 10px;
  }
}

@keyframes loadAlert {
  0% {
    top: -70px;
  }

  100% {
    top: 10px;
  }
}

@-webkit-keyframes closeAlert {
  0% {
    top: 10px;
  }

  100% {
    top: -70px;
  }
}

@keyframes closeAlert {
  0% {
    top: 10px;
  }

  100% {
    top: -70px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0E4375;
  color: #fff;
  padding: 0 15px;
}

.page-logo-users {
  padding-bottom: 0;
}

.page-users__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1875rem;
}

.page-users__button::before {
  content: "\e909";
  font-size: 1.375rem;
  position: absolute;
  color: #fff;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  left: -44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0E4375;
}

@media (max-width: 47.99875em) {
  .page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-logo {
    padding-bottom: 30px;
  }

  .page-logo__title {
    width: 100%;
  }

  .page-welcome {
    height: 60%;
    padding-top: 10px;
    background: url("../img/vectorHor.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: 100% 100%;
  }

  .page-welcome::before {
    display: none;
  }

  .page-welcome-header {
    text-align: center;
  }

  .page-welcome__wrapper {
    height: 100%;
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-welcome__title {
    padding-top: 10px;
  }

  .page-welcome__desc {
    padding-bottom: 110px;
  }

  .page-sign {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -1px;
  }

  .page-sign__wrapper {
    height: 100%;
    width: 100%;
    max-width: 600px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page-sign__copy {
    padding: 10px 35px;
    font-size: 12px;
    text-align: center;
  }

  .sign-form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sign-form input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 29.99875em) {
  .page-sign__logged {
    font-size: 0.9375rem;
  }

  .modal__content {
    width: 95%;
    margin: 0 10px;
  }

  .modal__text {
    line-height: 1.4285714286;
    padding: 55px;
    text-align: center;
    font-size: 0.875rem;
  }

  .users-logo__title {
    display: none;
  }
}

@media (max-height: 600px) {
  .page-welcome::before {
    right: -25px;
  }
}